<div class="text-light bg-dark">
    <div class="container">
        <div class="row">
            <div class="p-4 col-md-4">
                <h2 class="mb-4">
                    <img src="../../assets/img/logoBranca.png" class="logo mr-5" width="200px" />
                    <img src="../../assets/img/aenor-iso-14001.jpg" width="40px" />
                </h2>
                <p>Uma empresa dedicada a Sustentação renovável e bem estar ambiental.</p>

            </div>
            <div class="p-4 col-md-4">
                <h2 class="mb-4">Links Principais</h2>
                <ul class="list-unstyled text-light">
                    <a href="#" class="text-white">Home</a> <br>
                    <a href="#quemSomos" class="text-white">Quem somos</a> <br>
                    <a href="#servicos" class="text-white">Serviços</a> <br>
                    <a href="#contact" class="text-white">Contato</a>
                </ul>
            </div>
            <div class="p-4 col-md-4">
                <h2 class="mb-4">Contato</h2>
                <p> <a href="#" class="text-white">
                        <i class="fa d-inline mr-3 fa-phone"></i> (47) 3717-1414 </a> </p>
                <p> <a href="#" class="text-white">
                        <i class="fa d-inline mr-3 fa-envelope-o"></i>ambiental@momentoambiental.com.br</a> </p>
                <p> <a href="#" class="text-white">
                        <i class="fa d-inline mr-3 fa-map-marker"></i>Rua Paulo Litzemberger, 1400 <br> Distrito Vila
                        Itoupava, Blumenau <br> Santa Catarina</a> </p>
            </div>
            <!-- <div class="p-4 col-md-2">
          <h2 class="mb-4">Inscrever</h2>
          <form>
            <fieldset class="form-group"> <label for="exampleInputEmail1">Newsletter</label> 
                <input type="email" class="form-control" placeholder="Digite seu email"> 
            </fieldset> 
            <button type="submit" class="btn btn-outline-white">Enviar</button>
          </form>
        </div> -->
        </div>
        <div class="row"> 
                <div class="col-md-12">
                    <hr>
                </div>               
                <div class="col-md-8">
                    <p class="text-left font12">© Copyright 2018 Momento Ambiental - Todos os direitos reservados. </p>
                </div>
                <div class="col-md-4">
                    <div class="social-list align-right">
                        <div class="soc-item">
                            <a href="#" target="_blank" class="text-white">
                                <i class="fab fa-twitter fa-lg"></i>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="#" target="_blank" class="text-white">
                                <i class="fa fa-facebook-f fa-lg"></i>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="#" target="_blank" class="text-white">
                                <i class="fab fa-youtube fa-lg"></i>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="#" target="_blank" class="text-white">
                                <i class="fab fa-instagram fa-lg"></i>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="#" target="_blank" class="text-white">
                                <i class="fab fa-google-plus-g fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>            
        </div>
    </div>
</div>