.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #DDDDDD;
    border: 10px solid #CDCDCD;
}
.title-list {
    border-bottom: 1px solid #333;
}