<div class="container">
  <div class="row padding24 fade-in">
    <div class="col-md-12 col-xs-12">
      <h5 class="ml-5">Incineração</h5>
    </div>  
    <div class="col-md-12 col-xs-12">
      <p class="ml-5 text-justify">
        A Momento Engenharia Ambiental disponibiliza o tratamento térmico por incineração para resíduos de serviço de
        saúde, o qual consiste num processo de oxidação à alta temperatura que destrói ou reduz o volume dos resíduos
        submetidos a este processo.</p>
      <p class="ml-5 text-justify"> O equipamento incinerador inicialmente instalado da Momento Ambiental, possui
        capacidade para processamento de resíduos de até 240kg/h.</p>
        
      <p class="ml-5 text-justify">O tratamento térmico de resíduos de saúde por incineração é a solução mais apropriada,
        pois evita a contaminação e a poluição do meio ambiente.</p>
    </div>
  </div>
</div>