<div class="container padding24 fade-in">
  <div class="row">
    <div class="col-xs-12 col-lg-12">
      <img src="../../assets/img/img_solidificacao_01.jpg" class="img-thumbnail float-right m-5" alt="Usina de Tratamento de Resíduos"
        width="300">
      <h3 class="ml-5">Tratamento dos Resíduos</h3>

      <p class="ml-5">São tratados separadamente resíduos de classe I e II.</p>
      <p class="ml-5">
        Os resíduos pastosos, de classe II, recebem tratamento por solidificação na usina de tratamento de resíduos, projetada e patenteada pela Momento Engenharia Ambiental. 
        A solidificação consiste num processo de homogeneização, adição de aglomerantes e estabilização.
      </p>
      <p class="ml-5">
        Os resíduos pastosos de classe I também recebem tratamento por solidificação, porém o processo é por bateladas e em célula de tratamento provida de sistema de exaustão.
      </p>
      
      <img src="../../assets/img/img_solidificacao_02.jpg" class="img-thumbnail float-left ml-5 mr-2" alt="Resíduos Encapsulados" width="300">

      <p class="text-justify">
          Os resíduos classe I que necessitam de outra forma de tratamento são blendados, prensados, encapsulados ou incinerados, dependendo de suas características.

          Recebem tratamento por encapsulamento resíduos como pilhas e baterias, reagentes químicos específicos e outros que necessitam de maior critério de segurança.
      </p>

      <p>
          Recebem tratamento por encapsulamento resíduos como pilhas e baterias, reagentes químicos específicos e outros que necessitam de maior critério de segurança.
      </p>
    </div>
  </div>
</div>