<div class="container">
  <div class="row padding24">
    <div class="col-md-12 col-xs-12">
      <h5 class="ml-5">Disposição Final</h5>
    </div>  
    
    <div class="col-md-12 col-xs-12">
        <img src="../../assets/img/aterro-classe-II.jpg" class="img-thumbnail float-left ml-5 mr-5" alt="Tanques de equalização e pré-aeração" width="300">
      <p class="ml-5 text-justify">Após o tratamento, os resíduos são dispostos em células impermeabilizadas com geomembrana de PEAD - Polietileno de Alta Densidade de acordo com a classe a que pertencem.</p>
      <p class="ml-5 text-justify"> No Aterro Classe II são dispostos os resíduos processados na Usina de Tratamento de Resíduos, resíduos compactados e outros conforme contratação.</p>
      <p class="ml-5 text-justify">Os resíduos são acomodados e compactados no setor, conforme suas características.</p>
      <img src="../../assets/img/img_disposicao_01.jpg" class="img-thumbnail float-right ml-5 mr-5" alt="Tanques de equalização e pré-aeração" width="200">
      <p class="ml-5 text-justify">No Aterro Classe I são dispostos os resíduos processados na Célula de Tratamento de Resíduos Classe I, os resíduos prensados e os resíduos encapsulados.</p>
      <p class="ml-5 text-justify">O critério de disposição separa resíduos incompatíveis em célula específica.</p>
    </div>
  </div>
</div>