<div class="container fade-in">
  <div class="row padding24">
    <div class="col-md-12 col-xs-12">
      <h5 class="ml-5">Cuidados Adicionais</h5>
    </div>  
    <div class="col-md-12 col-xs-12">
        <img src="../../assets/img/limparodas.jpg" class="img-thumbnail float-left ml-5 mr-5" alt="Tanques de equalização e pré-aeração" width="300">
      <p class="ml-5 text-justify">Na saída, os caminhões que transitam dentro do Aterro passam pelo “Limpa-Rodas”.</p>     
      <p class="ml-5 text-justify">Trata-se de um dispositivo com jatos de água direcionados para as rodas, fazendo com que resíduos ali aderidos sejam transferidos para água e posteriormente tratados na Estação de Tratamento de Efluentes - ETE.</p>     
    </div>
  </div>
</div>