<div class="row">
    <div class="col-md-12 col-xs-12 padding-bottom30 text-center text-white">
      <h3>NOSSOS SERVIÇOS</h3>
      <p>
        Nossos Serviços além de essenciais também oferecem grande benefício e toda infra-estrutura ambiental para sua
        empresa?
      </p>
    </div>
    <div class="col-md-3" *ngFor="let item of servicos">
      <div class="card" [style.backgroundColor]="item.corCardServico">
        <img class="card-img-top" src='{{item.urlmgServico}}' alt="Card image" style="width:100%">
        <div class="card-body text-white">
          <h5 class="card-title text-white">{{item.tituloServico}}</h5>
          <p class="card-text">{{item.textoServico}}</p>
        </div>
        <div class="card-footer btn-padrao">
          <a class="btn btn-primary" href="#"><span>Saiba mais</span></a>
        </div>
      </div>
    </div>
  </div>