<div id="quemSomos">
  <h3>QUEM SOMOS</h3>
  <img src="../../assets/img/a_momento.jpg" class="rounded float-left m-3" alt="Escritório da Empresa" title="Escritório da Empresa" style="border: 4px solid #FFF;">
  <p class="text-justify">
    Fundada em Novembro de 1995 e dando início em suas atividades em Janeiro de 1999, a Momento Engenharia Ambiental S.A. surgiu a partir do trabalho desenvolvido
    pela Momento Engenharia de Construção Civil Ltda, de operação do aterro para resíduos urbanos em Blumenau – SC.        
  </p>
  <p class="text-justify">
      Depois de evidenciar as necessidades da região, implantar um empreendimento como a Momento Engenharia Ambiental trouxe uma solução para a 
      problemática de disposição dos resíduos industriais, que até então, eram dispostos no aterro para resíduos urbanos de Blumenau.
  </p>
  <p class="text-justify">
      Desde então, a Momento Engenharia Ambiental utiliza as mais modernas tecnologias existentes para o tratamento e destinação dos resíduos, 
      a partir de análises laboratoriais realizadas na chegada do material, passando pelos variados processos e realizando o monitoramento ambiental 
      de toda a área do entorno.      
  </p>
  <div class="btn-padrao">
    <a class="btn btn-primary" routerLink="/contentquemsomos" ><span>Saiba mais</span></a>
  </div>

</div>