  .google-map iframe {
    height: 500px;
    width: 100%;
    
  }
  .google-map [data-state-details] {
    color: #6b6763;
    font-family: Montserrat;
    height: 1.5em;
    margin-top: -0.75em;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
  }

  .google-map[data-state] {
    background: #e9e5dc;
  }

  .google-map[data-state="loading"] [data-state-details] {
    display: none;
  }
  .icon-block {
    display: inline-block;
    vertical-align: middle;
  }

  @media (min-width: 768px) {
    .google-map {
        height: 25rem;
        position: relative;
      }
      .google-map iframe {
        height: 500px;
        width: 100%;
        border: 2px solid #333;
      }
      .google-map [data-state-details] {
        color: #6b6763;
        font-family: Montserrat;
        height: 1.5em;
        margin-top: -0.75em;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 100%;
      }
      .google-map[data-state] {
        background: #e9e5dc;
      }
      .google-map[data-state="loading"] [data-state-details] {
        display: none;
      }
  }