
  <div class="container">
  <div class="row padding24">
    <div class="col-md-12 col-xs-12">
        <h5 class="ml-5">Blendagem de Resíduos - Coprocessamento</h5>
    </div>

    <div class="col-md-12 col-xs-12">
        <p class="ml-5 text-justify"> A Momento Engenharia Ambiental S.A. oferece a seus clientes os serviços de blendagem de resíduos industriais para coprocessamento na empresa Votorantim Cimentos S/A.</p>
        <p class="ml-5 text-justify">
            O coprocessamento é uma tecnologia que consiste na utilização de resíduos industriais como substitutos de combustível e/ou matérias-primas não-renováveis usadas na fabricação do cimento. Ao mesmo tempo, é uma forma de destinação final de resíduos, eliminando diversos passivos ambientais.
        </p>
        <p class="ml-5 text-justify">
            Os serviços de coprocessamento de resíduos são executados rigorosamente dentro do previsto na Norma Técnica Brasileira ABNT/NBR 10004 e na Resolução CONAMA nº 264/99.
        </p>
    </div>    
    <div class="col-md-12 col-xs-12">
        <table class="table">
            <tr>
              <td><img src="../../assets/img/blendagem-1.jpg" class="img-thumbnail height280"></td>
              <td><img src="../../assets/img/blendagem-2.jpg" class="img-thumbnail height280"></td>
              <td><img src="../../assets/img/blendagem-3.jpg" class="img-thumbnail height280"></td>
            </tr>
            <tr>
                <td><img src="../../assets/img/blendagem-4.jpg" class="img-thumbnail height280"></td>
                <td><img src="../../assets/img/blendagem-5.jpg" class="img-thumbnail height280"></td>
                <td><img src="../../assets/img/blendagem-6.jpg" class="img-thumbnail height280"></td>
              </tr>
          </table>  
    </div>
  </div>

  <div class="row padding24">
    <div class="col-md-12 col-xs-12">
        <h5 class="ml-5">Blendagem de Resíduos - Coprocessamento</h5>
    </div>

    <div class="col-md-12 col-xs-12">
        <p class="ml-5 text-justify">A Momento Engenharia Ambiental disponibiliza o tratamento térmico por incineração para resíduos de serviço de saúde, o qual consiste num processo de oxidação à alta temperatura que destrói ou reduz o volume dos resíduos submetidos a este processo.</p> 
        <p class="ml-5 text-justify"> O equipamento incinerador inicialmente instalado da Momento Ambiental, possui capacidade para processamento de resíduos de até 240kg/h.</p> 
        <p class="ml-5 text-justify">O tratamento térmico de resíduos de saúde por incineração é a solução mais apropriada, pois evita a contaminação e a poluição do meio ambiente.</p>        
    </div>        
        
    <div class="col-md-6 p-5"><img src="../../assets/img/incineracao-1.jpg" class="img-thumbnail float-right"></div>
    <div class="col-md-6 p-5"><img src="../../assets/img/incineracao-2.jpg" class="img-thumbnail float-left"></div>
    
  </div>
</div>