.lead {
    font-size: 18px;
    font-weight: bold;
}
.lead + p {
    font-size: 16px;
}

.sacalo {
    width: 70px;
    height: 70px;
    padding: 6px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 16px;    
}