<div class="pt-5 text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Título ainda não definido</h1>
        <p class="lead mb-4">Este aqui é um espaço para um título ainda não definido para ser usado como slogan para esta sessão. O texto poderá ter mais de uma linha.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 py-md-4 px-4 order-1 order-lg-1 text-lg-right d-flex flex-column justify-content-between">
        <div class="row">
          <div class="col-9 col-md-12">
            <button type="button" class="btn btn-success btn-sm sacalo" data-toggle="modal" data-target="#modalSistema">
                <i class="fas fa-balance-scale fa-3x"></i>
            </button>
            <p class="lead mb-1"> <b>Responsabilidade Legal</b> </p>
            <p>Somos uma empresa responsável e comprometida.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-9 col-md-12">
            <button type="button" class="btn btn-success btn-sm sacalo" data-toggle="modal" data-target="#modalLabs">
              <i class="fas fa-flask fa-3x"></i>     
            </button>
            <p class="lead mb-1"> <b>Laboratório de Análise</b> </p>
            <p>Saiba onde estão nossos Laboratórios.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-9 col-md-12">
            <button type="button" class="btn btn-success btn-sm sacalo" data-toggle="modal" data-target="#modalContratacao">
                <i class="fas fa-file-contract fa-3x"></i>     
              </button>
            <p class="lead mb-1"> <b>Contratação de Serviços</b> </p>
            <p>Saiba como contratar nossos Serviços.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-6 mx-auto order-3 order-lg-2"> <img class="img-fluid d-block" src="../../assets/img/img-sessao-meio.jpg"> </div>
      <div class="col-lg-3 col-md-6 py-md-4 px-4 order-2 order-lg-3 d-flex flex-column justify-content-between">
        <div class="row">
          <div class="col-9 col-md-12"> 
            <button type="button" class="btn btn-success btn-sm sacalo" data-toggle="modal" data-target="#modalLeitura">
                <i class="fas fa-book fa-3x"></i>
            </button>
            <p class="lead mb-1"> <b>Leitura</b> </p>
            <p>Conheça nossos Artigos Científicos</p>
          </div>
        </div>
        <div class="row">
          <div class="col-9 col-md-12"> <i class="fab fa-envira fa-3x"></i>
            <p class="lead mb-1"> <b>Projetos Sustentáveis</b> </p>
            <p>Informações Sobre a Rede Municipal, Projetos Sustentáveis – Trabalhos de outras unidades e contatos.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-9 col-md-12"> <i class="fas fa-users fa-3x"></i>
            <p class="lead mb-1"> <b>Trabalhe Conosco</b> </p>
            <p>Faça parte de nosso time de Trabalho.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>