<div class="modal fade slide-in-elliptic-top-fwd" id="modalContratacao" tabindex="-1" role="dialog" aria-labelledby="modalContratacao" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <span style="margin: 8px 16px 0 0">
            <i class="fas fa-file-contract fa-3x"></i></span>
            <h5 class="modal-title" id="modalLabs">
               CONTRATAÇÃO DE SERVIÇO
            </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i class="far fa-times-circle text-white"></i>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
              <h2>AINDA SEM CONTEÚDO</h2>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-dismiss="modal">  <i class="fas fa-times"></i> Fechar</button>
        </div>
      </div>
    </div>
  </div>