<div class="container padding24">
  <div class="row">

  <div class="col-md-12 col-xs-12">
    <h3 class="ml-5">Tratamento de Efluentes</h3>
  </div>

  <div class="col-md-12 col-xs-12">
      <img src="../../assets/img/ete-2.jpg" class="img-thumbnail float-left ml-5 mr-2 mb-4" alt="Tanques de equalização e pré-aeração" width="300">

      <p class="ml-5">Todos os efluentes gerados na Central de Tratamento de Resíduos de Blumenau - CTRB, são tratados em
        estação de tratamento de efluentes – ETE.</p>
      <p class="ml-5"> Os percolados gerados no aterro classe II, são transportados através da rede de coleta de
        percolados, passam por um sistema de desarenação, e em seguida são armazenados no tanque de equalização.</p>
  </div>


  <div class="col-md-12 col-xs-12 ml-5">
      <img src="../../assets/img/ete-3.jpg" class="img-thumbnail float-right mr-5 ml-2" alt="Tanques de equalização e pré-aeração" width="300">
        <p>O tanque de equalização também recebe efluentes provenientes do limpa rodas, lavanderia, dos pátios no entorno da
            usina de tratamento de resíduos, dos tanques da lavação de gases e da própria estação de tratamento de efluentes -
            ETE. A estação de tratamento de efluentes - ETE trata também todo o esgoto sanitário gerado no empreendimento.</p>
      
          <p class="text-justify"> Após equalização, o efluente é transferido para o tanque de pré aeração de onde é bombeado
            para a Estação de Tratamento de Efluentes – ETE para receber tratamento biológico por lodos ativados e tratamento
            físico-químico antes de ser devolvido ao Meio Ambiente.</p>
  </div>

  </div>
</div>