<div class="container padding24 fade-in">
  <div class="row">
    <div class="col-xs-4 col-lg-4">
      <img src="../../assets/img/balanca.jpg" class="img-thumbnail float-left m-5" alt="latinhas compactadas"
        width="300">
    </div>
    <div class="col-xs-8 col-lg-8 mt-5">
      <h3 class="ml-5">Recepção dos Resíduos</h3>
      <p class="mb-0 font12 text-justify">
        Quando uma carga de resíduos chega na recepção é aferida pelo sistema de pesagem eletrônico de acordo com o
        cadastro do cliente, da transportadora e do código do resíduo contratado. Os resíduos são pesados, conferidos e
        enviados para local de descarga, de acordo com o tipo e a classe dos mesmos. O peso medido na balança é
        automaticamente informado ao sistema, gerando assim uma guia de ingresso que acompanhará o resíduo até o momento
        da pesagem final do caminhão. <br>
        A pesagem é efetuada em balança rodoviária com capacidade de atender caminhões até 80 toneladas e 21 metros de
        comprimento.
      </p>
    </div>


    <div class="col-md-12 col-xs-12 ml-5">
      <h5>No ato da pesagem serão verificados os seguintes documentos a serem enviados por sua empresa:</h5>
      <p>
        - Manifesto de Carga <br>
        - Nota Fiscal de Simples Remessa <br>
        - Listagem Detalhada de Resíduos, quando aplicável. <br>
      </p>
      <p><b>A ausência do Manifesto de Carga implicará na retenção do veículo e carga, até que seja constatado o
          recebimento do referido documento.</b></p>
    </div>
  </div>
</div>