<div class="container">
    <nav class="nav navbar navbar-expand-sm navbar-thin">
        <div class="brand-top">
            <a class="navbar-brand" href="#">
                <img src="../../assets/img/logotop.png" style="margin-left: 50px; width: 200px; height: auto;" />
            </a>
        </div>
        <ul class="navbar-nav ml-auto mt-2 mt-sm-0">
            <li class="nav-item active d-none d-sm-block">
                <a class="nav-link" href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="nav-item d-none d-sm-block">
                <a class="nav-link" href="#"><i class="fa fa-linkedin"></i></a>
            </li>
            <li class="nav-item d-none d-sm-block">
                <a class="nav-link" href="#"><i class="fa fa-youtube"></i></a>
            </li>
        </ul>
    </nav>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">
                <img src="../../assets/img/logoBranca.png" class="logo" />
            </a>
            <ul class="navbar-nav ml-auto mt-2 mt-sm-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <form class="form-inline">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Pesquisar..." aria-label="Pesquisar..."
                                aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                                    type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>

        </div>
    </div>
</nav>
<div class="container-fluid container-topo">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <div id="carousel-top" class="carousel slide" data-ride="carousel" *ngFor="let slide of slides">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-top" data-slide-to="1"></li>
                        <li data-target="#carousel-top" data-slide-to="2"></li>
                        <li data-target="#carousel-top" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item">
                            <img class="d-block w-100" [src]="slide.urlSlide" alt="Slide">
                            <div class="carousel-caption d-none d-md-block">
                                    <h5>{{slide.tituloSlide}}</h5>
                                    <p>{{slide.descricaoSlide}}</p>
                                </div>
                        </div>
<!--                         <div class="carousel-item">
                            <img class="d-block w-100"
                                src="https://cdn.wonderfulengineering.com/wp-content/uploads/2016/01/nature-wallpapers-38.jpg" alt="Segundo Slide">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Titulo do Segundo Carousel</h5>
                                    <p>Descrição do Segundo carousel. Este texto é colocado apenas para poder ver como fica uma descrição dentro do
                                        Slide</p>
                                </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="https://www.pixelstalk.net/wp-content/uploads/2016/07/Desktop-autumn-hd-wallpaper-3D.jpg" alt="Terceiro Slide">
                            <div class="carousel-caption d-none d-md-block">
                                    <h5>Titulo do Segundo Carousel</h5>
                                    <p>Descrição do Segundo carousel. Este texto é colocado apenas para poder ver como fica uma descrição dentro do
                                        Slide</p>
                                </div>
                        </div> -->
                    </div>
                    <a class="carousel-control-prev" href="#carousel-top" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Anterior</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-top" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Próximo</span>
                    </a>
                </div>
            </div>


            <div class="col-md-4 col-xs-12">
                <div class="card card-topo" style="height: 485.33px;">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="data-list">18/11/2019</div>
                                <a href="#"><small>Texto referente ao título em questao.</small></a>
                            </li>
                            <li class="list-group-item">
                                <div class="data-list">18/11/2019</div>
                                <a href="#"><small>Texto referente ao título em questao.</small></a>
                            </li>
                            <li class="list-group-item">
                                <div class="data-list">18/11/2019</div>
                                <a href="#"><small>Texto referente ao título em questao.</small></a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <div class="corpo-text-footer">
                            <i class="fa fa-arrow-right"></i> Footer
                        </div>
                        <div class="footer-tarja" style="color: #FFF;">Teste</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
