.topoSite {
    width: 100%;
    height: 20px;
    margin-bottom: 2px;    
    float: left;
    background: #FAFAFA;
    position: fixed;
    top: 0;
}

.navbar-brand {width: 200px;}
.logo {
    height: 40px;
    width: auto;
    margin-left: 100px;
}

.efeitoLogo {
    height: 120px;
    width: 250px;    
    position: absolute;
    z-index: 10;
    margin-top: 40px;
    background-color: #FCFCFC;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.navbar-thin {
    height: 25px;
}

.brand-top {
    top: 20px;
    position: absolute!important;
    z-index: 99999!important;
    margin: auto!important;
    height: 0px;
    width: 200px;
}

.container-topo {
    background: linear-gradient(to bottom, #2C2C2C 0%,#2C2C2C 85%,#2C2C2C 85%,white 15%,white 100%);

}



.card-topo {
   width: 18rem; 
   height: 485.33px!important;
   background-color: #2C2C2C;
   border-bottom-left-radius: 35px;

   .list-group-item {
        background-color: #2C2C2C;
        border: none;        
        color: #FFF;       
    }

    .data-list {
        font-size: 12px;
        border-bottom: 1px solid #FFF;
    }

    small {
      font-size: 12px; 
      color: #FFF;
      font-weight: bold;
    }

    .card-footer {        
        color: #FFF;
        text-align: center;
        line-height: 40px;
        margin: 0;
        padding: 0;        
    }

    .corpo-text-footer {
        border-bottom: 50px solid #000; position: absolute;
        border-left: 25px solid transparent; 
        border-right: 25px solid transparent;  
        height: 0; 
        width: 150px;
        margin: -24px 0 0 59px;
    }

    .footer-tarja {
        background: black; 
        width: 100%; 
        height: 25px; 
        border-bottom-left-radius: 35px!important;
    }

}





  