@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');


html, body {
    visibility: visible;
    // font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;   
}

.bg-dark {background-color: #2C2C2C!important;}
.bg-gray {background-color: rgb(212, 212, 212)!important;}
.font12 {font-size: 12px;font-weight: bold;}

.padding24 {padding: 24px 0;}
.padding30 {padding: 30px 0;}
.padding40 {padding: 40px 0;}
.padding-bottom30 {padding-bottom: 30px;}

.container-topo {
    // background: linear-gradient(to bottom, #2C2C2C 0%,#2C2C2C 85%,#2C2C2C 85%,white 15%,white 100%);
    background: #2C2C2C;
    padding: 0;
    padding-bottom: 2px;

}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1111;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}
.modal-backdrop.fade {opacity: 0.9!important;}
.modal-backdrop.show {opacity: 0.9!important;}


//modelo botao padrao Site
.btn-padrao .btn-primary,
.btn-padrao .btn-primary:not(:disabled):not(.disabled):active {
    color: #FFF;
    border-radius: 0;
    border: none;
    font-size: 16px;
    width: 200px;
    font-weight: 600;
    padding: 10px 20px;
    background-color: #00904A;
    border-color: #007bff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;    
}

.btn-padrao .btn-primary span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn-padrao .btn-primary span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: -13px;
    right: -20px;
    transition: 0.5s;
    font-size: 28px;
}

.btn-padrao .btn-primary:hover span {
    padding-right: 25px;
}

.btn-padrao .btn-primary:hover span:after {
    opacity: 1;
    right: 0;
}

/*voltar ao topo*/
#scrollToTop a i:before {
    content: '';
    position: absolute;
    height: 40%;
    top: 25%;
    background: #fff;
    width: 2px;
    left: calc(50% - 1px);
  }
  #scrollToTop a i:after {
    content: '';
    position: absolute;
    display: block;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    width: 40%;
    height: 40%;
    left: 30%;
    bottom: 30%;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  /*! Scroll to top arrow */
.mbr-arrow-up {
    bottom: 25px;
    right: 90px;
    position: fixed;
    text-align: right;
    z-index: 5000;
    color: #ffffff;
    font-size: 32px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }
  
  .mbr-arrow-up a {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    height: 60px;
    width: 60px;
    outline-style: none !important;
    position: relative;
    text-decoration: none;
    transition: all .3s ease-in-out;
    cursor: pointer;
    text-align: center;
  }
  
  .mbr-arrow-up a:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .mbr-arrow-up a i {
    line-height: 60px;
  }
  
  .mbr-arrow-up-icon {
    display: block;
    color: #fff;
  }
  
  .mbr-arrow-up-icon::before {
    content: "\203a";
    display: inline-block;
    font-family: serif;
    font-size: 32px;
    line-height: 1;
    font-style: normal;
    position: relative;
    top: 6px;
    left: -4px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }