<div class="modal fade" id="modalSearchComponent" tabindex="-1" role="dialog" aria-labelledby="modalSearchComponent"
  aria-hidden="true">
  <button type="button" class="closebtn" data-dismiss="modal" aria-label="Fechar">
      <i class="far fa-times-circle"></i>
  </button>
  <div class="modal-dialog modal-dialog-centered animated flipInX" role="document">
    <div class="modal-content modal-body-searchComponent">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <form class="formSearch" action="">
                  <div class="input-group input-group-lg mb-3">
                    <input type="text" class="form-control" placeholder="Pesquisar.." id="inputSearchComponent" name="search" aria-label="search" aria-describedby="btnSearchComponent">
                    <div class="input-group-append">
                      <button class="btn btn-outline-success" type="submit" id="btnSearchComponent"><i class="fa fa-search"></i></button>
                    </div>
                  </div>  
            </form>
          </div>
        </div>
        <div id="resultadoSearchComponent" class="row" style="margin-top: 50px;">
          <div class="table-responsive">
              <h5 style="color: #FFF">Exemplo de resultado de busca</h5>
              <table class="table table-hover text-white">     
                  <tbody>                      
                    <tr>
                      <td>Thiago Lúcio Bittencourt</td>
                      <td>Front-end designer</td>
                      <td>thiago@gmail.com</td>
                    </tr>
                    <tr>
                      <td>Juca</td>
                      <td>Desenvolvedor</td>
                      <td>juca@mail.com</td>
                    </tr>
                    <tr>
                      <td>Maria Santana da silva</td>
                      <td>Faz nada</td>
                      <td>maria@baita.com</td>
                    </tr>
                    <tr>
                      <td>Anja</td>
                      <td>Do mal</td>
                      <td>a_r@test.com</td>
                    </tr>
                  </tbody>
                </table>
                
          </div>
        </div>
      </div>
    </div>
  </div>
</div>