<div class="container padding24">
  <div class="row">

    <div class="col-xs-12 col-lg-12">
      <img src="../../assets/img/latinhas-recicladas.jpg" class="img-thumbnail float-left m-5"
        alt="latinhas compactadas" width="300">
      <h3 class="ml-5">Resíduo Industrial</h3>
      <h5>Resíduos sólidos</h5>
      <blockquote class="blockquote">
        <p class="mb-0 font12 text-justify">“Resíduos nos estados sólido e semi-sólido, que resultam de atividades de
          origem industrial, doméstica, hospitalar, comercial, agrícola, de serviços e de varrição. Ficam incluídos
          nesta definição os lodos provenientes de sistemas de tratamento de água, aqueles gerados em equipamentos e
          instalações de controle de poluição, bem como determinados líquidos cujas particularidades tornem inviável o
          seu lançamento na rede pública de esgotos ou corpos de água, ou exijam para isso soluções técnica e
          economicamente inviáveis em face à melhor tecnologia disponível” (ABNT NBR 10004:2004).</p>
      </blockquote>
    </div>

    <div class="col-md-12 col-xs-12 ml-5">
      <h5>Classificação dos resíduos</h5>
      <p>De acordo com a ABNT NBR 10004:2004, os resíduos são classificados em:</p>
      <p>
        a) resíduos classe I - Perigosos;<br>
        b) resíduos classe II – Não perigosos;<br>
        – resíduos classe II A – Não inertes. <br>
        – resíduos classe II B – Inertes.
      </p>
    </div>

    <div class="col-md-12 col-xs-12 ml-5">
      <h5>Resíduos classe I – Perigosos</h5>
      <p>Aqueles que apresentam periculosidade, ou características de inflamabilidade, corrosividade, reatividade,
        toxicidade, patogenicidade.</p>
      <blockquote class="blockquote font12">
        Nota: O gerador de resíduos pode demonstrar por meio de laudo de classificação que seu resíduo em particular não
        apresenta nenhuma das características de periculosidade.
      </blockquote>
    </div>

    <div class="col-md-12 col-xs-12 ml-5">
      <h5>Resíduos classe II B – Inertes</h5>
      <p>Quaisquer resíduos que, quando amostrados de uma forma representativa, segundo a ABNT NBR 10007, e submetidos a
        um contato dinâmico e estático com água destilada ou desionizada, à temperatura ambiente, conforme ABNT NBR
        10006, não tiverem nenhum de seus constituintes solubilizados a concentrações superiores aos padrões de
        potabilidade de água, excetuando-se aspecto, cor, turbidez, dureza e sabor.</p>
    </div>

    <div class="col-md-12 col-xs-12 ml-5">
      <h5>Resíduos classe II A – Não inertes</h5>
      <p>Aqueles que não se enquadram nas classificações de resíduos classe I - Perigosos ou de resíduos classe II B -
        Inertes. Os resíduos classe II A – Não inertes podem ter propriedades, tais como: biodegradabilidade,
        combustibilidade ou solubilidade em água.</p>
      <p>Ao optar pelo serviço da Momento Engenharia Ambiental S.A., as indústrias contam com a mais moderna tecnologia
        em tratamento e disposição destes resíduos.</p>
    </div>
  </div>