<div class="container-fluid bg-dark">
  <div class="container padding24">
    <app-servicos></app-servicos>
  </div>
</div>
<div class="container-fluid">
  <div class="container padding24">
    <div class="row">
      <div class="col-md-12 col-xs-12 padding-bottom30 text-center text-dark">
        <h3>POR DENTRO DAS NOVIDADES</h3>
        <p>
          Postando um novo vídeo ou uma nova notícia estamos sempre trazendo novidades para que você possa saber mais
          sobre nós.
        </p>       
      </div>
      <div class="col-md-8 col-xs-12">
          <app-videos></app-videos>
      </div>
      <div class="col-md-4 col-xs-12">
        <!-- <ngx-tweet tweetId="281660681"></ngx-tweet> -->
        <app-noticias></app-noticias>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-dark padding24">
<div class="container">
  <div class="row text-white">
      <div class="col-xs-8 col-md-8 pr-5"> 
          <h3>QUEM SOMOS</h3>
          <img src="../../assets/img/a_momento.jpg" class="rounded float-left m-3" alt="Escritório da Empresa" title="Escritório da Empresa" style="border: 4px solid #FFF;">
          <p class="text-justify">Fundada em Novembro de 1995 e dando início em suas atividades em Janeiro de 1999, a Momento Engenharia Ambiental S.A. surgiu a partir do trabalho desenvolvido pela Momento Engenharia de Construção Civil Ltda, de operação do aterro para resíduos urbanos em Blumenau – SC.    
              Depois de evidenciar as necessidades da região, implantar um empreendimento como a Momento Engenharia Ambiental trouxe uma solução para a problemática de disposição dos resíduos industriais, que até então, eram dispostos no aterro para resíduos urbanos de Blumenau.                
              Desde então, a Momento Engenharia Ambiental utiliza as mais modernas tecnologias existentes para o tratamento e destinação dos resíduos, a partir de análises laboratoriais realizadas na chegada do material, passando pelos variados processos e realizando o monitoramento ambiental de toda a área do entorno. E, pelo trabalho realizado com excelência no que se refere à recepção, tratamento e destinação de resíduos classe I e II, domiciliares e resíduos de serviço de saúde, em 2008 lhe foi conferida a Certificação da ISO 14001:2004.                
              Além disso, a empresa possui um Sistema de Gestão Ambiental (SGA) que tem como meta manter a qualidade e o respeito à natureza nos processos, buscando o desenvolvimento sustentável em todas as suas ações.</p>
      </div>
      <div class="col-xs-4 col-md-4">
          <a class="twitter-timeline" data-lang="pt" data-width="400" data-height="580" data-dnt="true" data-link-color="#981CEB" href="https://twitter.com/momentambiental?ref_src=twsrc%5Etfw">Tweets by momentambiental</a>
      </div>
  </div>
</div>
</div>
<div class="container-fluid bg-light padding24">
  <app-perguntas></app-perguntas>
</div>
